/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: middle;
	font-family: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





.clear {
	clear: both;
}

html {
	background: #F7F6F6 url('../img/background.png') repeat;
}

p {
	color: #ADACAC;
	font-size: 14px;
	margin: 10px 0;
	line-height: 120%;
}

strong {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #666;
	font-style: normal;
}
body {
	background: url('../img/header-bg.png') repeat-x;
	min-height: 400px;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.header {
	width: 960px;
	height: 60px;
	background: url('../img/divider-1.png') no-repeat bottom;
}

hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

h1 {
	color: #474747;
	font-size: 29px;
	padding: 12px 10px;
	font-weight: bold;
	text-shadow: 0px 1px 2px #bbb;
	width: 400px;
	float: left;
}

h5 {
	color: #474747;
	font-size: 29px;
	padding: 12px 10px;
	font-weight: bold;
	text-shadow: 0px 1px 2px #bbb;
	width: 600px;
}

.get-it-buttons {
	float: right;
	height: 60px;
	width: 260px;
	margin: 12px 20px;
}

.login-button, .reg-button, .angebot-button {
	display: inline-block;
	width: 140px;
	height: 30px;
}

.login-button {
	float:right;
	background: #a4ce43;
	background: -moz-linear-gradient(top, #a4ce43 0%, #54ba47 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4ce43), color-stop(100%,#54ba47));
	background: -webkit-linear-gradient(top, #a4ce43 0%,#54ba47 100%);
	background: -o-linear-gradient(top, #a4ce43 0%,#54ba47 100%);
	background: -ms-linear-gradient(top, #a4ce43 0%,#54ba47 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4ce43', endColorstr='#54ba47',GradientType=0 );
	background: linear-gradient(top, #a4ce43 0%,#54ba47 100%);
	border: 1px solid #247116;
	box-shadow: inset 0px 1px 0px #CACB80, 0px 1px 2px #777;
	-moz-box-shadow: inset 0px 1px 0px #CACB80, 0px 1px 2px #777;
	-webkit-box-shadow: inset 0px 1px 0px #CACB80, 0px 1px 2px #777;
	color: #212A12;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0px 1px 1px #DCE298;
}

.login-button:hover {
	background: #b3d43f;
	background: -moz-linear-gradient(top, #b3d43f 0%, #60bd46 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3d43f), color-stop(100%,#60bd46));
	background: -webkit-linear-gradient(top, #b3d43f 0%,#60bd46 100%);
	background: -o-linear-gradient(top, #b3d43f 0%,#60bd46 100%);
	background: -ms-linear-gradient(top, #b3d43f 0%,#60bd46 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3d43f', endColorstr='#60bd46',GradientType=0 );
	background: linear-gradient(top, #b3d43f 0%,#60bd46 100%);
}

.login-button:active {
	background: #94cb42;
	background: -moz-linear-gradient(top, #94cb42 0%, #78ac38 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94cb42), color-stop(100%,#78ac38));
	background: -webkit-linear-gradient(top, #94cb42 0%,#78ac38 100%);
	background: -o-linear-gradient(top, #94cb42 0%,#78ac38 100%);
	background: -ms-linear-gradient(top, #94cb42 0%,#78ac38 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94cb42', endColorstr='#78ac38',GradientType=0 );
	background: linear-gradient(top, #94cb42 0%,#78ac38 100%);
}

.reg-button {
	background: #52a8e8;
	background: -moz-linear-gradient(top, #52a8e8 0%, #2e76cf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52a8e8), color-stop(100%,#2e76cf));
	background: -webkit-linear-gradient(top, #52a8e8 0%,#2e76cf 100%);
	background: -o-linear-gradient(top, #52a8e8 0%,#2e76cf 100%);
	background: -ms-linear-gradient(top, #52a8e8 0%,#2e76cf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a8e8', endColorstr='#2e76cf',GradientType=0 );
	background: linear-gradient(top, #52a8e8 0%,#2e76cf 100%);	
	border: 1px solid #385B7A;
	box-shadow: inset 0px 1px 0px #93C2E6, 0px 1px 2px #777;
	-moz-box-shadow: inset 0px 1px 0px #93C2E6, 0px 1px 2px #777;
	-webkit-box-shadow: inset 0px 1px 0px #93C2E6, 0px 1px 2px #777;
	color: #12202F;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0px 1px 1px #B5CFEC;
}

.reg-button:hover {
	background: #5caafb;
	background: -moz-linear-gradient(top, #5caafb 0%, #3c85dc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5caafb), color-stop(100%,#3c85dc));
	background: -webkit-linear-gradient(top, #5caafb 0%,#3c85dc 100%);
	background: -o-linear-gradient(top, #5caafb 0%,#3c85dc 100%);
	background: -ms-linear-gradient(top, #5caafb 0%,#3c85dc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5caafb', endColorstr='#3c85dc',GradientType=0 );
	background: linear-gradient(top, #5caafb 0%,#3c85dc 100%);
}

.reg-button:active {
	background: #4596df;
	background: -moz-linear-gradient(top, #4596df 0%, #2a60b4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4596df), color-stop(100%,#2a60b4));
	background: -webkit-linear-gradient(top, #4596df 0%,#2a60b4 100%);
	background: -o-linear-gradient(top, #4596df 0%,#2a60b4 100%);
	background: -ms-linear-gradient(top, #4596df 0%,#2a60b4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4596df', endColorstr='#2a60b4',GradientType=0 );
	background: linear-gradient(top, #4596df 0%,#2a60b4 100%);
}

.angebot-button {
	width: 180px;
	margin-left: 400px;
	background: #a4ce43;
	background: -moz-linear-gradient(top, #a4ce43 0%, #54ba47 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4ce43), color-stop(100%,#54ba47));
	background: -webkit-linear-gradient(top, #a4ce43 0%,#54ba47 100%);
	background: -o-linear-gradient(top, #a4ce43 0%,#54ba47 100%);
	background: -ms-linear-gradient(top, #a4ce43 0%,#54ba47 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4ce43', endColorstr='#54ba47',GradientType=0 );
	background: linear-gradient(top, #a4ce43 0%,#54ba47 100%);
	border: 1px solid #247116;
	box-shadow: inset 0px 1px 0px #CACB80, 0px 1px 2px #777;
	-moz-box-shadow: inset 0px 1px 0px #CACB80, 0px 1px 2px #777;
	-webkit-box-shadow: inset 0px 1px 0px #CACB80, 0px 1px 2px #777;
	color: #212A12;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0px 1px 1px #DCE298;
}

.angebot-button:hover {
	background: #b3d43f;
	background: -moz-linear-gradient(top, #b3d43f 0%, #60bd46 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3d43f), color-stop(100%,#60bd46));
	background: -webkit-linear-gradient(top, #b3d43f 0%,#60bd46 100%);
	background: -o-linear-gradient(top, #b3d43f 0%,#60bd46 100%);
	background: -ms-linear-gradient(top, #b3d43f 0%,#60bd46 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3d43f', endColorstr='#60bd46',GradientType=0 );
	background: linear-gradient(top, #b3d43f 0%,#60bd46 100%);
}

.angebot-button:active {
	background: #94cb42;
	background: -moz-linear-gradient(top, #94cb42 0%, #78ac38 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94cb42), color-stop(100%,#78ac38));
	background: -webkit-linear-gradient(top, #94cb42 0%,#78ac38 100%);
	background: -o-linear-gradient(top, #94cb42 0%,#78ac38 100%);
	background: -ms-linear-gradient(top, #94cb42 0%,#78ac38 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94cb42', endColorstr='#78ac38',GradientType=0 );
	background: linear-gradient(top, #94cb42 0%,#78ac38 100%);
}


.mask-container-large {
	position: relative;
	width: 960px;
	height: 540px;
	padding: 2px 3px 4px 3px;
	margin: 30px 0 0 0;
}

.mask-gloss-large {
	width: 966px;
	height: 436px;
	position: absolute;
	z-index: 5000;
	background: url(../img/gloss-large2.png);
	top: 0px;
	left: 0px;
	z-index: 90;
}

.divider-2 {
	width: 960px;
	height: 17px;
	background: url('../img/divider-2.png') no-repeat;
	margin: 60px 0 20px 0;
}

h3 {
	color: #474747;
	font-size: 22px;
	padding: 10px 10px;
	font-weight: bold;
	text-shadow: 0px 1px 2px #bbb;
}

.inset {
	width: 960px;
	padding: 1px 0 0 0;
	background: url('../img/inset-mid.png') repeat-y;
}

.inset-top {
	width: 960px;
	height: 13px;
	margin: 20px 0 0 0;
	padding: 0;
	background: url('../img/inset-top.png') no-repeat;
}

.inset-btm {
	width: 960px;
	height: 9px;
	margin: 0 0 30px 0;
	padding: 0;
	background: url('../img/inset-btm.png') no-repeat;
}

.inset .row {
	border-bottom: 1px solid #E0E0E0;
}

.inset .row:first-child {
	margin-top: -13px;
}
.inset .row:last-child {
	border-bottom: none;
}

.col {
	width: 440px;
	margin: 20px 20px 10px 20px;
	float: left;
}

h4 {
	color: #474747;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0px 1px 2px #bbb;
	margin: 15px;
}

.mask-container-thumbnail {
	position: relative;
	width: 100px;
	height: 100px;
	padding: 2px 3px 4px 3px;
}

.mask-gloss-thumbnail {
	width: 106px;
	height: 106px;
	position: absolute;
	background: url('../img/gloss-thumbnail.png');
	top: 0;
	left: 0;
}

.mask-gloss-thumbnail:hover {
	background: url('../img/gloss-thumbnail-hover.png');
}

.feature-image {
	float: left;
	margin: 0 20px 10px 0;
}

.description {
	float: left;
	width: 300px;
}

.quote {
	float: left;
	width: 420px;
	height: 163px;
	margin: -80px 10px 30px 0;
	padding: 20px 30px 20px 20px;
	background: url('../img/quote-bg.png') no-repeat;
}

.quote p {
	font-family: Georgia, Times, serif;
	font-style: italic;
}
.quotation-mark {
	float: left;
	margin: 0 10px 0 5px;
}

.footer {
	width: 960px;
	height: 10px;
	padding: 1px 0 0 0;
}

.footer p {
	margin: 40px 0 0 0;
	width: 675px;
	float: right;
}

.footer .login-button, .footer .reg-button {
	margin: 32px 10px 0 10px;
}

.rectangle {
	background: #e06666;
	height: 50px;
	width: 990px;
	position: relative;
	left:-15px;
	top: -100px;
	float: left;
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	z-index: 100; /* the stack order: foreground */
}


.triangle-l {
	border-color: transparent #e06666 transparent transparent;
	border-style:solid;
	border-width:15px;
	height:0px;
	width:0px;
	position: relative;
	top: -65px;
	left: -30px;
	z-index: -1; /* displayed under bubble */
}

.triangle-r {
	border-color: transparent transparent transparent #e06666;
	border-style:solid;
	border-width:15px;
	height:0px;
	width:0px;
	position: relative;
	left: 960px;
	top: -95px;
	z-index: -1; /* displayed under bubble */
}

/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:500px;
padding:10px;
}

/* ----------- stylized ----------- */
#stylized{
	
	float: right;
	margin: 0px 20px;

}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#ffffff;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#ffffff;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}

.wrapper{
   position: relative;
   float: left;
   width: 960px;
   margin-bottom: 20px;
 
}
p.wrapperFont{
	color: #666;
	margin-bottom: -7px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p.priceFont{
	color: #666;
	margin-bottom: 8px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}
.imgProducts{
	border: 3px solid #BDBDBD;
	margin-bottom: -2px;
	width: 130px;
	height: 160px;
}
.left1{
   position: relative;
   float: left;
   left: 0px;
   width: 180px;
   height: 265px;
   background-color: #D8D8D8;
   text-align: center;
   padding-top: 10px;
   margin-bottom: 20px;
   -moz-box-shadow: 5px 5px 5px #888;
   -webkit-box-shadow: 5px 5px 5px #888;
   box-shadow: 5px 5px 5px #888;
}
.left2{
   position: relative;
   float: left;
   left: 20px;
   width: 180px;
   height: 265px;
   background-color: #D8D8D8;
   text-align: center;
   padding-top: 10px;
   -moz-box-shadow: 5px 5px 5px #888;
   -webkit-box-shadow: 5px 5px 5px #888;
   box-shadow: 5px 5px 5px #888;
}
.left3{
   position: relative;
   float: left;
   left: 40px;
   width: 180px;
   height: 265px;
   background-color: #D8D8D8;
   text-align: center;
   padding-top: 10px;
   -moz-box-shadow: 5px 5px 5px #888;
   -webkit-box-shadow: 5px 5px 5px #888;
   box-shadow: 5px 5px 5px #888;
}
.left4{
   position: relative;
   float: left;
   left: 60px;
   width: 180px;
   height: 265px;
   background-color: #D8D8D8;
   text-align: center;
   padding-top: 10px;
    -moz-box-shadow: 5px 5px 5px #888;
   -webkit-box-shadow: 5px 5px 5px #888;
   box-shadow: 5px 5px 5px #888;
}

.wrappermenu{
   position: relative;
   float: left;
   width: 960px;
   margin-bottom: 30px;
 
}
.menu1{
   position: relative;
   float: left;
   width: 316px;
   height: 36px;
   border: 2px solid #e06666;
   background-color: #ffffff;
}
.menu2{
   position: relative;
   float: left;
   width: 176px;
   height: 36px;
   border: 2px solid #e06666;
   background-color: #ffffff
}
.menu3{
   position: relative;
   float: left;
   width: 176px;
   height: 36px;
   border: 2px solid #e06666;
   background-color: #ffffff 
}
.menu4{
   position: relative;
   float: left;
   width: 176px;
   height: 36px;
   border: 2px solid #e06666;
   background-color: #ffffff
}

.menu5{
   position: relative;
   float: left;
   width: 96px;
   height: 36px;
   border: 2px solid #e06666;
   background-color: #e06666;
}

.wrapperbes{
   position: relative;
   float: left;
   width: 960px;
   margin-bottom: 20px;
 
}

.bes1{
   position: relative;
   float: left;
   left: 0px;
   width: 180px;
   height: 150px;
   background-color: #D8D8D8;
   text-align: center;
   background-image: url('../img/was.png');
}

.bes11{
   position: relative;
   float: left;
   left: 0px;
   width: 680px;
   height: 130px;
   background-color: #ffffff;
   text-align: center;
   margin-top: 10px;
}

.bes2{
   position: relative;
   float: left;
   left: 0px;
   width: 180px;
   height: 150px;
   background-color: #D8D8D8;
   text-align: center;
   background-image: url('../img/wann.png');
}

.bes21{
   position: relative;
   float: left;
   left: 0px;
   width: 680px;
   height: 130px;
   background-color: #ffffff;
   text-align: center;
   margin-top: 10px;
}

.bes3{
   position: relative;
   float: left;
   left: 0px;
   width: 180px;
   height: 150px;
   background-color: #D8D8D8;
   text-align: center;
   background-image: url('../img/wo.png');
}

.bes31{
   position: relative;
   float: left;
   left: 0px;
   width: 680px;
   height: 130px;
   background-color: #ffffff;
   text-align: center;
   margin-top: 10px;
   background-image: url('../img/mapbes.png');
}

.bes4{
   position: relative;
   float: left;
   left: 0px;
   width: 180px;
   height: 150px;
   background-color: #D8D8D8;
   text-align: center;
   background-image: url('../img/bezahl.png');
}

.bes41{
   position: relative;
   float: left;
   left: 0px;
   width: 350px;
   height: 130px;
   background-color: #ffffff;
   text-align: center;
   margin-top: 10px;
}

.bes42{
   position: relative;
   float: left;
   left: 0px;
   width: 310px;
   height: 110px;
   text-align: center;
   margin: 20px 20px 20px 20px;
}

.wrapperover{
   position: relative;
   float: left;
   width: 960px;
   padding-top: 10px; 
}

.over1{
   position: relative;
   float: left;
   left: 0px;
   width: 698px;
   height: 142px;
   background-color: #ffffff;
   text-align: center;
   border: 2px solid #e06666;
   -moz-box-shadow: 5px 5px 5px #888;
   -webkit-box-shadow: 5px 5px 5px #888;
   box-shadow: 5px 5px 5px #888;

}

.over11{
   position: relative;
   float: right;
   left: 0px;
   width: 248px;
   height: 142px;
   background-color: #ffffff;
   text-align: center;
   border: 2px solid #e06666;
   -moz-box-shadow: 5px 5px 5px #888;
   -webkit-box-shadow: 5px 5px 5px #888;
   box-shadow: 5px 5px 5px #888;
}

.over2{
   position: relative;
   float: left;
   left: 0px;
   width: 486px;
   height: 246px;
   background-color: #D8D8D8;
   text-align: center;
   border: 2px solid #e06666;
   -moz-box-shadow: 5px 5px 5px #888;
   -webkit-box-shadow: 5px 5px 5px #888;
   box-shadow: 5px 5px 5px #888;
   background-image: url('../img/mapdetail.png');
}

.over21{
   position: relative;
   float: left;
   left: 0px;
   width: 202px;
   height: 246px;
   background-color: #ffffff;
   text-align: center;
   background-image: url('../img/products/akkuschrauber_makita.jpg');
   border: 2px solid #e06666;
   -moz-box-shadow: 5px 5px 5px #888;
   -webkit-box-shadow: 5px 5px 5px #888;
   box-shadow: 5px 5px 5px #888;
   margin-left: 6px;
}

.over22{
   position: relative;
   float: right;
   left: 0px;
   width: 248px;
   height: 246px;
   background-color: #ffffff;
   text-align: center;
   border: 2px solid #e06666;
   -moz-box-shadow: 5px 5px 5px #888;
   -webkit-box-shadow: 5px 5px 5px #888;
   box-shadow: 5px 5px 5px #888;
}

.over3{
   position: relative;
   float: left;
   left: 0px;
   width: 698px;
   height: 150px;
   background-color: #D8D8D8;
   border: 2px solid #e06666;
   -moz-box-shadow: 5px 5px 5px #888;
   -webkit-box-shadow: 5px 5px 5px #888;
   box-shadow: 5px 5px 5px #888;
}

.over31{
   position: relative;
   float: right;
   left: 0px;
   width: 248px;
   height: 150px;
   background-color: #ffffff;
   text-align: center;
   vertical-align: middle;
   border: 2px solid #e06666;
   -moz-box-shadow: 5px 5px 5px #888;
   -webkit-box-shadow: 5px 5px 5px #888;
   box-shadow: 5px 5px 5px #888;
}

hBes {
	color: #474747;
	font-size: 60px;
	padding: 32px 20px;
	font-weight: bold;
	text-shadow: 0px 1px 2px #bbb;
	width: 600px;
	float: left;
}

hZahl {
	color: #474747;
	font-size: 60px;
	padding: 32px 20px;
	font-weight: bold;
	text-shadow: 0px 1px 2px #bbb;
	width: 350px;
	float: left;
}

hDet {
	color: #474747;
	font-size: 60px;
	padding: 10px 0px 0px 15px;
	font-weight: bold;
	text-shadow: 0px 1px 2px #bbb;
	width: 350px;
	float: left;
}

hDetu {
	color: #474747;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0px 1px 2px #bbb;
	float: left;
}

.cssmenu{
	font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	}
.cssmenu ul{
	float: right;
	width: 200px;
	height: 30px;
	list-style:none;
	margin-top: 13px;
	background: #52a8e8;
	background: -moz-linear-gradient(top, #52a8e8 0%, #2e76cf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52a8e8), color-stop(100%,#2e76cf));
	background: -webkit-linear-gradient(top, #52a8e8 0%,#2e76cf 100%);
	background: -o-linear-gradient(top, #52a8e8 0%,#2e76cf 100%);
	background: -ms-linear-gradient(top, #52a8e8 0%,#2e76cf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a8e8', endColorstr='#2e76cf',GradientType=0 );
	background: linear-gradient(top, #52a8e8 0%,#2e76cf 100%);	
	border: 1px solid #385B7A;
	box-shadow: inset 0px 1px 0px #93C2E6, 0px 1px 2px #777;
	-moz-box-shadow: inset 0px 1px 0px #93C2E6, 0px 1px 2px #777;
	-webkit-box-shadow: inset 0px 1px 0px #93C2E6, 0px 1px 2px #777;
	color: #12202F;
	}
.cssmenu li{
	float:left;
	padding: 0px 0px 0px 0px;
	}
.cssmenu li a{
	
	color:#000000;
	display:block;
	font-weight:normal;
	line-height:30px;
	padding:0px 20px;
	text-align:center;
	text-decoration:none;
	}
.cssmenu li a:hover, .cssmenu ul li:hover a{
	color:#FFFFFF;
	text-decoration:none;
	}
.cssmenu li ul{
	background:#52a8e8;
	display:none;
	height:auto;
	padding:0px;
	margin: 0px;
	border:0px;
	position:absolute;
	width:200px;
	z-index:200;
	/*top:1em;
	/*left:0;*/
	}
.cssmenu li:hover ul{
	display:block;
	
	}
.cssmenu li li {
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:200px;
	}
.cssmenu li:hover li a{
	background:none;
	
	}
.cssmenu li ul a{
	display:block;
	height:40px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px;
	text-align:left;
	}
.cssmenu li ul a:hover, .cssmenu li ul li:hover a{
	background:#ffffff;
	border:0px;
	color:#e06666;
	text-decoration:none;
	}
.cssmenu p{
	clear:left;
	}
	
#containerL {
	position: absolute;
	width: 340px;
	height: 280px;
	top: 50%;
	left: 50%;
	margin-top: -260px;
	margin-left: -170px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-animation-name: bounceIn;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: bounceIn;
	-moz-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	animation-name: bounceIn;
	animation-fill-mode: both;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	z-index:5000;
}

#formL {
	margin: 0 auto;
	margin-top: 20px;
}

labelL {
	color: #555;
	display: inline-block;
	margin-left: 18px;
	padding-top: 14px;
	font-size: 14px;
}

p a {
	font-size: 11px;
	color: #aaa;
	float: right;
	margin-top: -13px;
	margin-right: 20px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
}

p a:hover {
	color: #555;
}

input {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	outline: none;
}

input[type=name],
input[type=password] {
	color: #777;
	padding-left: 10px;
	margin: 10px;
	margin-top: 12px;
	margin-left: 18px;
	width: 290px;
	height: 35px;
	border: 1px solid #c7d0d2;
	border-radius: 2px;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
}

input[type=name]:hover,
input[type=password]:hover {
	border: 1px solid #b6bfc0;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}

input[type=name]:focus,
input[type=password]:focus {
	border: 1px solid #a8c9e4;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}

#lower {
	background: #ecf2f5;
	width: 100%;
	height: 69px;
	margin-top: 20px;
	box-shadow: inset 0 1px 1px #fff;
	border-top: 1px solid #ccc;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

input[type=checkbox] {
	margin-left: 20px;
	margin-top: 30px;
}

.check {
	margin-left: 3px;
	font-size: 11px;
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

input[type=submit] {
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	width: 80px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	border-radius: 0px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
}

input[type=submit]:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}

input[type=submit]:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
	background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
	background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}

#containerR {
	position: absolute;
	width: 340px;
	height: 535px;
	top: 50%;
	left: 50%;
	margin-top: -260px;
	margin-left: -170px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-animation-name: bounceIn;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: bounceIn;
	-moz-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	animation-name: bounceIn;
	animation-fill-mode: both;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	z-index:5000;
}

#formR {
	margin: 0 auto;
	margin-top: 20px;
}

labelR {
	color: #555;
	display: inline-block;
	margin-left: 18px;
	padding-top: 14px;
	font-size: 14px;
}

p a {
	font-size: 11px;
	color: #aaa;
	float: right;
	margin-top: -13px;
	margin-right: 20px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
}

p a:hover {
	color: #555;
}

input {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	outline: none;
}

input[type=name],
input[type=password] {
	color: #777;
	padding-left: 10px;
	margin: 10px;
	margin-top: 12px;
	margin-left: 18px;
	width: 290px;
	height: 35px;
	border: 1px solid #c7d0d2;
	border-radius: 2px;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
}

input[type=name]:hover,
input[type=password]:hover {
	border: 1px solid #b6bfc0;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}

input[type=name]:focus,
input[type=password]:focus {
	border: 1px solid #a8c9e4;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}

#lower {
	background: #ecf2f5;
	width: 100%;
	height: 69px;
	margin-top: 20px;
	box-shadow: inset 0 1px 1px #fff;
	border-top: 1px solid #ccc;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

input[type=checkbox] {
	margin-left: 20px;
	margin-top: 30px;
}

.check {
	margin-left: 3px;
	font-size: 11px;
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

input[type=submit], input[type=button] {
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	width: 80px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	border-radius: 0px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
}

input[type=submit]:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}

input[type=submit]:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
	background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
	background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}


