@(facebookLogin: Form[forms.FacebookLogin])

<div id="fb-root"></div>
<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId : '558176470863416', // App ID
			channelURL : '//www.evershare.de/channel', // Channel File
			status : true, // check login status
			cookie : true, // enable cookies to allow the server to access the session
			oauth : true, // enable OAuth 2.0
			xfbml : true
		// parse XFBML
		});

		// Additional initialization code here
		// None, but one could perform a getLoginStatus here
	};

	function login() {
		FB.login(function(response) {
			if (response.authResponse) {
				// connected
				loggedIn(response.authResponse);
			} else {
				// cancelled
			}
		});
	}

	function loggedIn(authResponse) {
		console.log("LoggedIn/Connected");
		console.log(authResponse.userID);
		console.log(authResponse.accessToken);
		
		document.getElementById("userID").value = authResponse.userID;
		document.getElementById("accessToken").value = authResponse.accessToken;
// 		document.getElementById("loginSubmit").value = "fb";
		document.getElementById("facebookLoginForm").submit();
	}

	// Load the SDK Asynchronously
	(function(d) {
		var js, id = 'facebook-jssdk';
		if (d.getElementById(id)) {
			return;
		}
		js = d.createElement('script');
		js.id = id;
		js.async = true;
		js.src = "//connect.facebook.net/en_US/all.js";
		d.getElementsByTagName('head')[0].appendChild(js);
	}(document));

	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {
			return;
		}
		js = d.createElement(s);
		js.id = id;
		js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1&appId=<%=OAuth.facebookClientId%>";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

@helper.form(action = routes.UserController.fblogin(), 'id -> "facebookLoginForm", 'method -> "POST") {
	<fieldset style="visibility: hidden; height: 0px">
		@helper.inputText(facebookLogin("userID"))
		@helper.inputPassword(facebookLogin("accessToken"))
	</fieldset>
}
